@page
@using CarsGame.Application;
@using CarsGame.Domain.Car;
@using CarsGame.Infrastructure;

@model CarsGame.WebApp.Pages.Game.GameTryModel
@inject CarService CarService

@{
}

<form method="post">
    <h2>What's the price for this car?</h2>

    <input type="hidden" asp-for="Car.Id" class="form-control" />


    <div class="alert alert-danger"  @(ViewContext.RouteData.Values["action"] == "error" ? "block" : "hidden") role="alert">
      The price is wrong!
    </div>

    Car: @Html.DisplayFor(model => model.Car.Make)
    Model: @Html.DisplayFor(model => model.Car.Model)
    Year: @Html.DisplayFor(model => model.Car.Year)
    Doors: @Html.DisplayFor(model => model.Car.Doors)

    <br />

    <div class="form-group">
        <label>What's the price?</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Car.Price" class="text-danger"></span>

        <button type="submit" class="btn btn-success">Try</button>
    </div>
</form>
